*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: url("./kitob-javon-15.jpg") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    padding: 40px;
    color: red;
}
.container1{
    width: 100%;
    height: 100vh;
    background: url("./kitob-javon-1.jpg") no-repeat center/cover;
    color: white;
    padding: 60px;
}
h2{
    width: 300px;
    margin-top: 20px;
}
.container2{
    width: 100%;
    height: 100vh;
    background: url("./kitob2.jfif") no-repeat center/cover;
}

@media screen and (max-width:390px){
    .container{
        height: 40vh;
    }
    .container1{
        height: 40vh;
    }
    .container2{
        height: 40vh;
    }
}